

<div class="container">

    <div class="row" style="background-color:black;">
    
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-top:100px;" >
        <div class="sidenav">
          <a routerLink = "/home"> <span class="glyphicon glyphicon-home" style="padding-right:5px;"></span> Home</a> 
          <a routerLink = "/organization"> <span class="glyphicon glyphicon-th" style="padding-right:5px;"></span> Organizations </a> 
          <a routerLink = "/department"> <span class="glyphicon glyphicon-th-large" style="padding-right:5px;"></span>Departments </a> 
          <a routerLink = "/employee"> <span class="glyphicon glyphicon glyphicon-list-alt" style="padding-right:5px;"></span>Employees </a>  
          <a routerLink = "/calendar"> <span class="glyphicon glyphicon-calendar " style="padding-right:5px;"></span> Calendar </a>   
          <a routerLink = "/login" *ngIf = "!loggedInStatus"> LogIn</a> 
          <a  (click) = "LogOut($event)" routerLink="/login" *ngIf = "loggedInStatus"> <span class="glyphicon glyphicon-log-out" style="color:white;padding-right:5px;"> </span>LogOut</a> 
     </div>
      </div>
  
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-top:100px;background-color: white;" >
  
          <div class="row" style="background-color: darkgrey;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3>
                <b> 
                  New Employee Page
              </b>
              </h3>  
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" style="padding:50px;"> 
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                        <td style="text-align:right;">
                          First Name:
                        </td>
                        <td>
                          <input type = "text" name = "firstname" placeholder = "Rajah"  ngModel> 
                        </td>
                      </tr>
                       
                        <tr>
                            <td style="text-align:right;">
                              Last Name:
                            </td>
                            <td>
                              <input type = "text" name = "lastname" placeholder = "Jack"  ngModel> 
                            </td>
                          </tr>
                    
                        <tr>
                      <td style="text-align:right;">
                        Date Of Birth:
                      </td>
                      <td>
                        <input type = "date" name = "dateofbirth" ngModel> 
                      </td>
                    </tr>
                    
                    <tr>
                      <td style="text-align:right;">
                        Organization:
                      </td>
                      <td>
                        <select name="org_name" [(ngModel)]="chosen_organization" (ngModelChange)="Change_Organization()" ngModel>
                            <option *ngFor = "let i of organization_list" ng-value="i.id" >{{i.name}}</option>
                         </select>  
                      </td>
                    </tr>
  
                    <tr>
                      <td style="text-align:right;">
                        Department:
                      </td>
                      <td>
                        <select name="dept_name" ngModel>
                            <option *ngFor = "let i of department_list" ng-value="i.id" >{{i.name}}</option>
                         </select>  
                      </td>
                    </tr>
                <tr>
                    <td style="text-align:right;">
                      Work Title:
                    </td>
                    <td>
                      <input type = "text" name = "worktitle" placeholder = "software developer"  ngModel> 
                    </td>
                  </tr>

                  

                <tr>
                  <td style="text-align:right;">
                    Total Experience:
                  </td>
                  <td>
                    <input type = "number" min="0" name = "totalexperience" placeholder = "0"  ngModel> 
                  </td>
                </tr>
                
              <tr>
                <td style="text-align:right;">
                </td>
                <td>
                  <input type = "submit" value = "submit" class="btn btn-md btn-primary"> 
                </td>
              </tr>
             
          </tbody>
        </table>
      </form>
    </div>
    
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
        </div>

      </div>
  
    </div>
  
  
</div>
  