

<div class="container">

  <div class="row" style="background-color:black;">
  
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-top:100px;" >
      <div class="sidenav">
        <a routerLink = "/home"> <span class="glyphicon glyphicon-home" style="padding-right:5px;"></span> Home</a> 
        <a routerLink = "/organization"> <span class="glyphicon glyphicon-th" style="padding-right:5px;"></span> Organizations </a> 
        <a routerLink = "/department"> <span class="glyphicon glyphicon-th-large" style="padding-right:5px;"></span>Departments </a> 
        <a routerLink = "/employee"> <span class="glyphicon glyphicon glyphicon-list-alt" style="padding-right:5px;"></span>Employees </a>  
        <a routerLink = "/calendar"> <span class="glyphicon glyphicon-calendar " style="padding-right:5px;"></span> Calendar </a>   
        <a routerLink = "/login" *ngIf = "!loggedInStatus"> LogIn</a> 
        <a  (click) = "LogOut($event)" routerLink="/login" *ngIf = "loggedInStatus"> <span class="glyphicon glyphicon-log-out" style="color:white;padding-right:5px;"> </span>LogOut</a> 
      </div>
    </div>

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-top:100px;background-color: white;" >

        <div class="row" style="background-color: darkgrey;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>
              <b> 
                Home Page
            </b>
            </h3>  
          </div>
        </div>

        <div class="row" style="padding-top:30px;">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <div class="jumbotron" style=" border-radius:15px;background-color:burlywood;">
            <table class=".table-stripped" style="width:100%">
              <thead>
                <th style="text-align: center;"> 
                  <h4>
                    <b>
                   Organizations
                      </b>
                      </h4>
                </th>

              </thead>
              <tbody style="padding-top:20px;">
                <tr *ngFor = "let i of organization_list;" >
                  <td> {{i.name}}</td>
                </tr>
              </tbody>
            </table>  
          </div> 
          </div>

          
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding:8px;border-radius:15px; background-color:burlywood;">
        <div class="jumbotron" style=" border-radius:15px;background-color:burlywood;">
        <table class=".table-stripped" style="width:100%">
          <thead>
            <th style="text-align: center;"> 
              <h4>
                <b>
                 Departments
                </b>
                </h4>            
            </th>

          </thead>
          <tbody style="padding-top:20px;">
            <tr *ngFor = "let i of department_list;" >
              <td style="text-align: justify;"> {{i.name}}</td>
            </tr>
          </tbody>
        </table> 
    </div>
  </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding:10px;">
        <div class="jumbotron" style=" border-radius:15px;background-color:burlywood;">
          <table class=".table-stripped" style="width:100%">
            <thead>
              <th style="text-align: center;"> 
                <h4>
                  <b>
                   Employees
                  </b>
                  </h4>            
              </th>
  
            </thead>
            <tbody style="padding-top:20px;">
              <tr *ngFor = "let i of employee_list;" >
                <td style="text-align: justify;"> {{i.firstname + " " + i.lastname}}</td>
              </tr>
            </tbody>
          </table> 
      </div>
      </div>
    
    </div>

    </div>

  </div>


</div>
