

<div class="container">

    <div class="row" style="background-color:black;">
    
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-top:100px;" >
        <div class="sidenav">
          <a routerLink = "/home"> <span class="glyphicon glyphicon-home" style="padding-right:5px;"></span> Home</a> 
          <a routerLink = "/organization"> <span class="glyphicon glyphicon-th" style="padding-right:5px;"></span> Organizations </a> 
          <a routerLink = "/department"> <span class="glyphicon glyphicon-th-large" style="padding-right:5px;"></span>Departments </a> 
          <a routerLink = "/employee"> <span class="glyphicon glyphicon glyphicon-list-alt" style="padding-right:5px;"></span>Employees </a>  
          <a routerLink = "/calendar"> <span class="glyphicon glyphicon-calendar " style="padding-right:5px;"></span> Calendar </a>   
          <a routerLink = "/login" *ngIf = "!loggedInStatus"> LogIn</a> 
          <a  (click) = "LogOut($event)" routerLink="/login" *ngIf = "loggedInStatus"> <span class="glyphicon glyphicon-log-out" style="color:white;padding-right:5px;"> </span>LogOut</a> 
        </div>
      </div>
  
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-top:100px;background-color: white;" >
  
          <div class="row" style="background-color: darkgrey;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3>
                <b> 
                  Department Page
              </b>
              </h3>  
            </div>
          </div>
  
          <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:30px;">
              
              <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button class="btn btn-md btn-primary" (click)="AddDepartment()">
                        <span class="glyphicon glyphicon-plus"></span>  Department
                    </button>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Name </th>
                            <th> Description </th>
                            <th> Owner </th>
                            <th> Working Time </th>
                            <th> Working Day </th>
                            <th> Organization Name </th>
                            <th> Founded Date </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let i of department_list;">
                            <td> {{i.id}} </td>
                            <td> {{ i.name }} </td>
                            <td> {{ i.description }} </td>
                            <td> {{  i.owner }}</td>
                            <td> {{ i.working_time }} </td>
                            <td> {{ i.working_day }}</td>
                            <td> {{i.org_name}} </td>
                            <td> {{i.founded_date}} </td>
                            <td>
                                <button class="btn btn-md btn-primary" (click)="Route_to_Department_Edit_Component(i.id)"> Edit </button>
                            </td>
                            <td>
                                <button class="btn btn-md btn-danger" (click)="DeleteDepartment(i.id)"> Delete </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                 </div>
              </div>
        </div>
        </div>
  
      </div>
  
    </div>
  
  </div>

  