

<div class="container">

    <div class="row" style="background-color:black;">
    
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-top:100px;" >
        <div class="sidenav">
          <!--
          <a routerLink = "/home">Home</a> 
          <a routerLink = "/contactus">Organizations </a> 
          <a routerLink = "/contactus">Departments </a> 
          <a routerLink = "/contactus">Employees </a>   
          <a routerLink = "/contactus">Calendar </a>  
          --> 
         <a routerLink = "/login"> <span class="glyphicon glyphicon-log-in" style="color:white;padding-right:5px;"> </span> Login </a>
        </div>
      </div>
  
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-top:100px;background-color: white;" >

          <div class="row" style="background-color: darkgrey;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3>
                <b> 
                LogIn Page
              </b>
              </h3>  
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" style="padding:50px;"> 
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td style="text-align:right;">
                        Email:
                      </td>
                      <td>
                        <input type = "email" name = "emailid" placeholder = "adex@gmail.com"  ngModel> 
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;">
                        Password:
                      </td>
                      <td>
                        <input type = "password" name = "passwd" placeholder = "password" ngModel>  
                      </td>
                    </tr>
                    <tr>
                      <td>
                      </td>
                      <td>
                        <input type = "submit" value = "submit"> 
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;">
                        <a routerLink = "/ForgetPassword"> Forget Password! </a>
                      </td>
                      <td>
                        <a routerLink = "/newuser"> Create account! </a>
                      </td>
                    </tr>
                    </tbody>
                    </table>
            </form>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
        </div>

      </div>
  
    </div>
  
  
</div>
  